<head>
<link rel="stylesheet" type="text/css" href="/assets/css/heatmap.css"/>
<script src="/assets/js/heatmap.js" async></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
</head>


<br><br>
    <div class="jumbotron">

      	<div class="container">

		<div>
			<h3> Company Short List </h3>
		</div>

		<center>
	
		<div class="stock" id="stock-1">
			<span class="symbol"></span>
			<span class="change"></span>
		</div>

		<div class="stock" id="stock-2">
			<span class="symbol"></span>
			<span class="change"></span>
		</div>

		<div class="stock" id="stock-3">
			<span class="symbol"></span>
			<span class="change"></span>
		</div>

		<div class="stock" id="stock-4">
			<span class="symbol"></span>
			<span class="change"></span>
		</div>

		<div class="stock" id="stock-5">
			<span class="symbol"></span>
			<span class="change"></span>
		</div>

		<div class="stock" id="stock-6">
			<span class="symbol"></span>
			<span class="change"></span>
		</div>

		<div class="stock" id="stock-7">
			<span class="symbol"></span>
			<span class="change"></span>
		</div>

		<div class="stock" id="stock-8">
			<span class="symbol"></span>
			<span class="change"></span>
		</div>

		<div class="stock" id="stock-8">
			<span class="symbol"></span>
			<span class="change"></span>
		</div>

		<div class="stock" id="stock-8">
			<span class="symbol"></span>
			<span class="change"></span>
		</div>

		<div class="stock" id="stock-8">
			<span class="symbol"></span>
			<span class="change"></span>
		</div>

		<div class="stock" id="stock-8">
			<span class="symbol"></span>
			<span class="change"></span>
		</div>

		</center>
	</div>


    </div>

<canvas id="myChart" tyle="width:350px; height:200px"></canvas>

